* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

@font-face {
    font-family: "playball";
    src: url(./fonts/Playball-Regular.ttf);

    font-family: "dancing-script";
    src: url(./fonts/dancing-script.ttf);
}

.body{
background-image: url(./imagenes/fondolindo.jpg);
background-size: cover;
background-repeat: no-repeat;
}

/* HEADER */ 
    
.header {
    width: 100vw;
    height: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    position: fixed;
    background-color: rgba(75, 72, 72, 0.8);
    z-index: 1;
    }

.img-logo {
    padding-left: 10px;
    height: 50px;
}

.navbar {
    width: 60%;
    height:100%;
    display: flex;
}

.navbar i {
    font-size: 45px;
    color: white;
    display: none;
}

#toggle-menu{
    display: none;
}

.navbar ul {
    display: flex;
    list-style: none;
    width: 100%;
    height: 100%;
    color: white;
    align-items: center;
    justify-content: space-around;
   
}

.navbar-link {
    text-decoration: none;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 500;
    font-size: 1.2rem;
    width: 100%;    
    height: 100%;  
    border-radius: 30px;
    border-bottom: black;
}

/* REGISTRO */

#registro{
height: 100vh;
padding-top: 100px;
padding-left: 50px;
padding-right: 50px;
display: flex;
flex-direction: column;
justify-content: center;
text-align: center;
color: white;
font-family: Georgia, 'Times New Roman', Times, serif;
font-size: 1.3rem;
}

.form-registro{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 1.3rem;
    gap: 15px;
}

.form{
    display: flex;
    justify-content: center;
    text-align: center;
}

.titulo{
    font-size: 1.5rem;   
}

.ingrese-aqui{
    font-size: 1.3rem;
}

.link-ingresar{
    color: green;
    text-decoration: none;
    font-size: 1.3rem;
}

/*HOVERS*/

/*header*/
.navbar-link:hover{
font-size: 1.5rem;
}

/* MEDIA QUERIES */
@media (max-width: 914px){
 .navbar ul {
    background-color: rgba(75, 72, 72, 0.9);
    width: 100%;
    height: calc(100vh - 50px);
    position: absolute;
    top: 50px;
    left: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 70px;
    transform: translateX(200%);
    transition: all 0.4 ease-out;
    }
 .navbar i {
    display: block;
 }

 #toggle-menu:checked ~ .navbar-list{
    transform: translateX(0%);
    transition: all 0.4 ease-in;
 }

 .navbar{
    justify-content: end;
 }
 .form-inicio {
        width: 80%;
    }
}

@media (max-width: 502px){
    .form-inicio{
        width: 100%;
    }
    
    .navbar{
    justify-content: center;
}   
}